.button-row {
  display: flex;                 
  gap: 25px;                     
  margin-left: 200px ;                
  margin-top: 90px;
}

.pos-btn {
  padding: 5px 20px 5px 20px;
  border: 2px solid #1c8370;
  border-radius: 10px;
  background: white;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s ease;
}

.pos-btn:hover {
  background: #1c8370;
  border-color: #1c8370;
  color: white;
}

